<!-- templates/store/product_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>My Store</title>
</head>
<body>
    <h1>Books</h1>
    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'store:product_detail' product.pk %}">{{ product.title }}</a><br>
                <img src="{{ product.image.url }}" alt="{{ product.title }}" />
<br>
                {{ product.price }}$
            </li>
        {% endfor %}
    </ul>
</body>
</html>

<a href="{% url 'cart:cart_detail' %}">🛒 View Cart</a>

{% if user.is_authenticated %}
  <p>Welcome, {{ user.username }} | <a href="{% url 'accounts:logout' %}">Logout</a></p>
{% else %}
  <a href="{% url 'accounts:login' %}">Login</a> | <a href="{% url 'accounts:register' %}">Register</a>
{% endif %}
