<!-- templates/store/product_detail.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{{ product.title }}</title>
</head>
<body>
    <h1>{{ product.title }}</h1>
    <img src="{{ product.image.url }}" width="200"><br>
    <p>{{ product.description }}</p>
    <p>Price: {{ product.price }}$</p>
    <p>Uploaded at: {{ product.created_at }}</p>

    <a href="{% url 'store:product_list' %}">Back to product list</a>
</body>
</html>
<form action="{% url 'cart:add' product.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add to cart</button>
</form>

<form action="{% url 'cart:remove' product.id %}" method="post">
  {% csrf_token %}
  <button type="submit">Remove from Cart</button>
</form>


{% if item.product.file %}
    <a href="{% url 'store:secure_download' item.product.id %}">Download</a>
{% endif %}
